/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-color: rebeccapurple;
  color: moccasin;
  margin: 1rem;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 18px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 14px;
}

.hidden {
  display: none;
}

#button1 {
  background-color: lightgreen;
}
#button1:active, #button1.lit {
  background-color: seagreen;
}

#button2 {
  background-color: pink;
}
#button2:active, #button2.lit {
  background-color: tomato;
}

#button3 {
  background-color: lightblue;
}
#button3:active, #button3.lit {
  background-color: steelblue;
}

#button4 {
  background-color: palegoldenrod;
}
#button4:active, #button4.lit {
  background-color: gold;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}